<div class="container">
      <h1>Cockpit - vegan.ch</h1>
      <p>
          Bei Fehler, Fragen oder Schwierigkeiten: <%= mail_to "sandro@vegan.ch", "sandro@vegan.ch" %>
      </p>
      <!-- The Sign-in button. This will run `queryReports()` on success. -->
      <p class="g-signin2" data-onsuccess="startQueries"></p>

      <p class=g-signin2" data-onsuccess="handleClientLoad"></p>


      <div class="card card-body my-4">
        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text"><%= t("von") %></span>
              <input type="text" id="start_date" class="form-control" placeholder="Von">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text"><%= t("bis") %></span>
              <input type="text" id="end_date" class="form-control" placeholder="Bis">
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary select_date_range_button">Datumsbereich anwenden</button>
      </div>


      <div class="monthly_review border rounded my-2 p-1">

      </div>

      <div class="monthly_member_page_review border rounded my-2 p-1">

      </div>

      <div class="monthly_donation_page_review border rounded my-2 p-1">

      </div>

      <div class="monthly_most_visited_pages_review border rounded my-2 p-1">

      </div>

      <div class="border rounded my-2 p-1">
        <h2>Bestimmte Seiten auswählen</h2>
        <p>
          Um Informationen zu bestimmten Seiten zu erhalten,
          kann im unteren Feld der hintere Teil der Webseite angegeben werden.
        </p>
        <p>
          "/" ist die Startseite.<br />
          "/2022/01/vegane-lasagne/" ist der Blogbeitrag zu vegane Lasagne.<br />
          "/ueber-uns/team/" ist die Über-uns-Seite.
        </p>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">www.vegan.ch</span>
          <input type="text" class="form-control" placeholder="z.B. &quot;/&quot;, &quot;/blog/&quot;, &quot;/2022/01/vegane-lasagne/&quot;" id="page_name_input" aria-describedby="basic-addon3">
        </div>
        <button type="button" class="btn btn-primary change_page_name_button">Bereich anwenden</button>

      </div>

      <div class="monthly_single_page_review border rounded my-2 p-1">

      </div>

      <div class="source_for_single_page_review border rounded my-2 p-1">

      </div>

      <div class="monthly_regexp_page_review border rounded my-2 p-1">

      </div>

      <div class="source_for_regexp_page_review border rounded my-2 p-1">

      </div>

</div>

<script>

  var dateRange = [];

    $("#start_date").datepicker(
    {
      'language' : 'de',
      'dateFormat' : 'dd-mm-yy',
      firstDay: 1,
      minDate: new Date(2021, 0, 1),
    });

    $( "#start_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );

    $("#end_date").datepicker(
    {
      'language' : 'de',
      'dateFormat' : 'dd-mm-yy',
      firstDay: 1,
      maxDate: new Date(new Date().setDate(new Date().getDate()-1))
    });
    $( "#end_date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );


  $( ".select_date_range_button" ).click(function() {



    var start_date = new Date($('#start_date').val());
    var end_date = new Date($('#end_date').val());

    var current_date = new Date(start_date.getTime());

    while (current_date <= end_date) {

      var last_day_of_month = new Date(current_date.getFullYear(), current_date.getMonth() + 1, 0);

      if( last_day_of_month > end_date ){
        last_day_of_month = new Date(end_date.getTime());
      }

      dateRange.push(
      {
        startDate: convertDate(current_date),
        endDate: convertDate(last_day_of_month)
      });

      //get first day of next month
      current_date = new Date(current_date.getFullYear(), current_date.getMonth() + 1, 1);
    }

    var monthly_review = new veganCockpit.MonthlyReview("monthly_review", dateRange, "235111240");
    var monthly_member_page_review = new veganCockpit.MonthlyMemberPageReview("monthly_member_page_review", dateRange, "235111240", new URLSearchParams(window.location.search));
    var monthly_donation_page_review = new veganCockpit.MonthlyDonationPageReview("monthly_donation_page_review", dateRange, "235111240", new URLSearchParams(window.location.search));
    var monthly_most_visited_pages_review = new veganCockpit.MonthlyMostVisitedPagesReview("monthly_most_visited_pages_review", dateRange, "235111240");
    //var monthly_single_page_review = new veganCockpit.MonthlySinglePageReview("monthly_single_page_review", dateRange, "235111240", '/blog/')
    //var monthly_source_for_single_page_review = new veganCockpit.MonthlySourceForSinglePageReview("monthly_source_for_single_page_review", dateRange, "235111240", '/blog/')
    //var source_for_single_page_review = new veganCockpit.SourceForSinglePageReview("source_for_single_page_review", dateRange, "235111240", '/blog/')

    monthly_review.generate_report()
  //  .then(() => monthly_member_page_review.generate_report())
  //  .then(() => monthly_donation_page_review.generate_report())
  //  .then(() => monthly_most_visited_pages_review.generate_report())
  //  .then(() => monthly_single_page_review.generate_report())
//    .then(() => single_page_reviews(dateRange, "/blog/"));
  //  .then(() => single_page_reviews(dateRange, "/"))
    .then(() => regexp_page_reviews(dateRange, "/"));
  });

  $( ".change_page_name_button" ).click(function() {

    var page_name_input = $('#page_name_input').val();

    single_page_reviews(dateRange, page_name_input)
    .then(() => regexp_page_reviews(dateRange, page_name_input))
  });


  function startQueries() {
    $( "#start_date" ).datepicker( "setDate", new Date(2021, 0, 1) );
    $( "#end_date" ).datepicker( "setDate", new Date(new Date().setDate(new Date().getDate()-1)) );
    $( ".select_date_range_button" ).click();
  }

  function single_page_reviews(dateRange, page_name){

    return new Promise(function(resolve, reject)
    {
      var monthly_single_page_review = new veganCockpit.MonthlySinglePageReview("monthly_single_page_review", dateRange, "235111240", page_name);
      var source_for_single_page_review = new veganCockpit.SourceForSinglePageReview("source_for_single_page_review", dateRange, "235111240", page_name);

      monthly_single_page_review.generate_report()
      .then(() => source_for_single_page_review.generate_report())
      .then(() => resolve());
    })

  }

  function regexp_page_reviews(dateRange, page_name){

    return new Promise(function(resolve, reject)
    {
      var monthly_regexp_page_review = new veganCockpit.MonthlyRegexpPageReview("monthly_regexp_page_review", dateRange, "235111240", page_name);
      var source_for_regexp_page_review = new veganCockpit.SourceForRegexpPageReview("source_for_regexp_page_review", dateRange, "235111240", page_name);

      monthly_regexp_page_review.generate_report()
      .then(() => source_for_regexp_page_review.generate_report())
      .then(() => resolve());
    })

  }

  //convert date

  function convertDate(date) {
    var yyyy = date.getFullYear().toString();
    var mm = (date.getMonth()+1).toString();
    var dd  = date.getDate().toString();

    var mmChars = mm.split('');
    var ddChars = dd.split('');

    return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
  }


</script>

<!-- Load the JavaScript API client and Sign-in library. -->
<script src="https://apis.google.com/js/client:platform.js"></script>
