<div class="container">
  <h1>Call-to-Actions</h1>

  <div class="border rounded">
    <p>
      <%= @pitch %>
    </p>

    <button class="btn btn-primary" type="submit"><%= @cta %></button>

  </div>
</div>
