<div class="container">
  <%= image_tag "sixpack.jpg", class: "rounded mx-auto d-block my-3", style: "height: 300px;" %>
  <br>
  <%= render "devise/sessions/new_claudia", resource: User.new %>
  <br>
  <%= image_tag "infinitygauntlet.jpg", class: "rounded mx-auto d-block my-3", style: "height: 300px;" %>

</div>
