<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.0/d3.min.js" integrity="sha512-jXsLjbg/Pr8F5U2evjFaEci7mImlUix865lbvnNmp5TzS86+VTTFVDz7FFTS6VHdhSn7UJ4tjZdvpp0GgT0fZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container">
  <h1>Vegan Survival Game</h1>
  <div id="start_text">
    <p>
      Hey du, heute gehen wir gemeinsam Wandern. Da du heute mit der Veganen Gesellschaft Schweiz unterwegs bist, stehen rein pflanzliche Lebensmittel auf dem Speiseplan. Pack, Block und Stift ein, denn du wirst bestimmt neue Infos rund um den veganen Lebensstil erhalten.
    </p>
    <button id="start_game" type="button" class="btn btn-primary">Let's go!</button>

  </div>

  <div id="question">

  </div>

  <div id="answers" class="">

  </div>

  <div id="result">

  </div>


  <div id="roadmap">

  </div>

</div>

<script>
  var current_question_index = 0;
  var width = 1000;
  var height = 500;
  var circle_radius = 10;
  var margin = {
    top: 15,
    bottom: 15,
    left: 15,
    right: 15
  };

  var coordinates_of_circles_on_path = [];

  for (let i = 0; i < 7; i++) {
    coordinates_of_circles_on_path.push({
      x: i * width/7,
      y: getRandomInt(100)
    })
  }

  var human_svg_url = "<%= image_url "peep-standing.svg" %>";

  var svg_element_id = "#roadmap";

  var questions = [
    {
      question: "Du stellst deine Wanderausrüstung zusammen, dabei fragst du dich, welche Marke wohl vegane Wanderschuhe anbietet …",
      solution_index: 1,
      answers: [
        "Sherpa",
        "Lowa",
        "Mammut"
      ],
      wrong_text: "Bist du dir sicher, dass du für eine Wanderung mit der Veganen Gesellschaft Schweiz gewappnet bist? Auf vegan.ch/blog findest du alle Informationen rund um den veganen Lebensstil."
    },
    {
      question: "Die Wanderausrüstung ist ready, welche Snacks packst du in deinen Rucksack?",
      solution_index: 1,
      answers: [
        "Milch Farmer, Brot, Hüttenkäse und Cherrytomaten",
        "Hummus, Brot, Blevitas und eine Packung Oreos",
        "Sojaaufstich, Brot, Blevitas, ein veganer Landjäger und die Bio-Choco Cookies von der Migros"
      ]
    },
  ];


    $( document ).ready(function() {
      console.log("ready");

      $("#start_game").click(function(){
        $("#start_text").empty();
        loadQuestion(current_question_index);

      });

      const svg = d3.select(svg_element_id)
        .append("svg")
        .attr("width", width)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", `translate(${margin.left}, ${margin.top})`);

      const road = svg.append("g");


        for (let i = 0; i < coordinates_of_circles_on_path.length; i++) {
          road.append('circle')
           .attr('cx', coordinates_of_circles_on_path[i].x)
           .attr('cy', coordinates_of_circles_on_path[i].y)
           .attr('r', circle_radius)
           .attr('stroke', 'black')
           .attr('fill', 'green');
        }

        drawLinesBetweenCircles(road, coordinates_of_circles_on_path)




    })


    //functions
    function getRandomInt(max) {
      return Math.floor(Math.random() * max);
    }

    function drawLinesBetweenCircles(parent_node, coordinates_of_circles_on_path) {

      for (let i = 0; i < coordinates_of_circles_on_path.length; i++) {

        if(typeof coordinates_of_circles_on_path[i + 1] === 'undefined') {

        } else {
          parent_node.append('line')
          .style("stroke", "lightgreen")
          .style("stroke-width", 2)
          .attr("x1", coordinates_of_circles_on_path[i].x)
          .attr("y1", coordinates_of_circles_on_path[i].y)
          .attr("x2", coordinates_of_circles_on_path[i].x)
          .attr("y2", coordinates_of_circles_on_path[i].y)
          .transition()
          .duration(1500)
          .attr("x2", coordinates_of_circles_on_path[i + 1].x)
          .attr("y2", coordinates_of_circles_on_path[i + 1].y)

        }


      }

    }

    function loadQuestion(index){
      $("#question").empty().append(
        questions[index].question
      );
      $("#answers").empty();


      for (let i = 0; i < questions[index].answers.length; i++) {
        $("#answers").append(
        `<button type="button" id="answer_${i}" data-index="${i}" class="btn btn-primary my-3">${questions[index].answers[i]}</button> <br>`
        )

        $("#answer_" + i).unbind().click(function(){
          answerAttempt($(this).data("index"));
        })

      }


    }

    function answerAttempt(index){

      if(questions[current_question_index].solution_index == index){
        console.log("correct answer");
        current_question_index += 1;
        loadQuestion(current_question_index);
      }
    }

</script>
