<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.0/d3.min.js" integrity="sha512-jXsLjbg/Pr8F5U2evjFaEci7mImlUix865lbvnNmp5TzS86+VTTFVDz7FFTS6VHdhSn7UJ4tjZdvpp0GgT0fZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script type="module">
  import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"

  window.Stimulus = Application.start()

  var svg;
  var topBox;
  var startButton;
  var answers;
  var playerIcon;
  var flags;
  var backgroundImage;
  var actualBackgroundImage;

  Stimulus.register("survival-game", class extends Controller {
    static values = {
      url: String,
      margin: Object,
      width: Number,
      height: Number,
      backgroundImageUrl: String,
      backgroundImageHeight: Number,
      numberIcons: Array,
      playerIconUrl: String,
      questions: Array,
      startText: String,
      currentQuestionIndex: Number,
      flagiconUrl: String,
      flagCoordinates: Array,
      backgroundImageBuffer: Number,
      topBoxSize: Object
    }

    static targets = [ "name", "output", "game", "baseTopBox" ]

    connect() {

      console.log(this.baseTopBoxTarget.offsetHeight);

      this.backgroundImageBufferValue = this.baseTopBoxTarget.offsetHeight * 1.5;

      this.topBoxSizeValue = {
        width_percentage: 95,
        height: this.baseTopBoxTarget.offsetHeight + 35
      };

      console.log(this.topBoxSizeValue);

      this.flagCoordinatesValue = [
        {
          x: 8,
          y: 82
        },
        {
          x: 21,
          y: 86
        },
        {
          x: 32,
          y: 82
        },
        {
          x: 43,
          y: 74
        },
        {
          x: 55,
          y: 72
        },
        {
          x: 67,
          y: 59
        },
        {
          x: 79,
          y: 76
        },
        {
          x: 91,
          y: 83
        }
      ];

      this.currentQuestionIndexValue = 0;

      this.flagiconUrlValue = "https://vegan.ch/wp-content/uploads/VGS_VSG_milestone.png";

      this.startTextValue = "Hey du, heute gehen wir gemeinsam Wandern. Da du heute mit der Veganen Gesellschaft Schweiz unterwegs bist, stehen rein pflanzliche Lebensmittel auf dem Speiseplan. Pack, Block und Stift ein, denn du wirst bestimmt neue Infos rund um den veganen Lebensstil erhalten."

      this.questionsValue = [
        {
          question: "Du stellst deine Wanderausrüstung zusammen, dabei fragst du dich, welche Marke wohl vegane Wanderschuhe anbietet …",
          solution_index: 1,
          wrong_text: "Bist du dir sicher, dass du für eine Wanderung mit der Veganen Gesellschaft Schweiz gewappnet bist? Auf vegan.ch/blog findest du alle Informationen rund um den veganen Lebensstil.",
          last_question: "false",
          answers: [
            "Sherpa",
            "Lowa",
            "Mammut"
          ]
        },
        {
          question: "Die Wanderausrüstung ist ready, welche Snacks packst du in deinen Rucksack?",
          solution_index: 1,
          wrong_text: "Du schaust dir die Produkte etwas genauer an und merkst Milch Farmer, Hüttenkäse und Bio-Choco Cookies von der Migros sind leider nicht vegan. Und stellst dir vor, wie schön es wäre, wenn es die Bio-Choco Cookies von V-Love gäbe.",
          last_question: "false",
          answers: [
            "Milch Farmer, Brot, Hüttenkäse und Cherrytomaten",
            "Hummus, Brot, Blevitas und eine Packung Oreos",
            "Sojaaufstich, Brot, Blevitas, ein veganer Landjäger und die Bio-Choco Cookies von der Migros"
          ]
        },
        {
          question: "Yeah, alles ready, es kann losgehen. Am Bahnhof merkst du, du hast deine Sonnencreme zu Hause vergessen. Zum Glück reicht die Zeit, um eine Neue zu kaufen. Aber sind Sonnencremes immer vegan?",
          solution_index: 1,
          wrong_text: "Du fragst in der Apotheke nach und erfährst, das es wichtig ist, einen Blick auf die Inhaltsstoffe zu werfen, besonders bei der Herstellung von synthetischen Stoffen können nicht-vegane Mittel zum Einsatz kommen. Auch ist es wichtig, auf die Labels: Veganeblume, Leaping Bunny oder PETA cruelty-free zu schauen, damit wirklich kein Tier für dieses Produkt leiden musste.",
          last_question: "false",
          answers: [
            "Na klar, was soll denn daran tierischen Ursprungs sein?",
            "Nein, nicht jede Sonnencreme ist automatisch vegan.",
            "Hää, reicht es nicht wenn ich auf tierische Produkte beim Essen verzichte?"
          ]
        },
        {
          question: "Geschafft auf gehts in die Berge. Das Wetter ist perfekt und die Natur strahlt in schönster Pracht. Du erfährst, dass es viele Pflanzen und Kräuter gibt, die geniessbar sind. Aber welche Pflanze ist den nun essbar?",
          solution_index: 1,
          wrong_text: "Die Sonne, die seit Stunden auf dein Kopf scheint, macht dich langsam, aber sicher etwas schwammig im Schedel. Du siehst all die schönen Pflanzen und hörst nur «essbar» du greifst zu, gönnst dir einen guten Bissen, schluckst in herunter und starrst in schockierte Gesichter. Bevor deine Augen zufallen, siehst du wie in der Ferne ein Rega-Helikopter in euere Richtung fliegt und hoffst, dass sie dich noch rechtzeitig abholen.",
          last_question: "false",
          answers: [
            "Eibe",
            "Rotklee",
            "Bilsenkraut"
          ]
        },
        {
          question: "Eine Handvoll Rotklee packst du für später ein, damit kannst du leckeres Knäckebrot backen, wie dir Erzählt wurde. Ihr geht den Weg weiter und kommt in den Wald, links und rechts vom Pfad seht ihr viele Pilze, die ihren Weg an die Oberfläche gefunden haben. Doch welcher dieser Pilze könntest du essen?",
          solution_index: 0,
          wrong_text: "So schöne Farben hast du selten bei Pilzen gesehen. Von der Sonne schon leicht matsche im Kopf, läufst du schnurstracks auf die bunten Pilze zu, schneidest einen ab und beisst rein. «Hmm.. etwa komisch schmeckt er schon», denkst du dir, schluckst den Mundinhalt dennoch runter und läufst mit dem abgebissenen Pilz zurück zu den anderen. «Hast du nicht zu gehört, dieser Pilz ist giftig!» Du merkst, wie sich alles anfängt zu drehen und kippst im Stehen zusammen.",
          last_question: "false",
          answers: [
            "Kräuterseitling",
            "Fliegenpilz",
            "Grüner Knollenblätterpilz"
          ]
        },
        {
          question: "Uff, bei so vielen neuen Infos knurrt der Magen. Alle packen ihren Proviant aus, ein riesen Buffet. Alle greifen zu und schlagen sich den Bauch voll. Du fragst dich, was Protein enthalten hat.",
          solution_index: 1,
          wrong_text: "Sorry, aber Süssigkeiten und Snacks sind wirklich nicht die beste Wahl, wenn es um Proteinreiches essen geht.",
          last_question: "false",
          answers: [
            "Oreos, Gummibärli und Manner Waffeln",
            "Nüsse, Kichererbsen und Vollkornbrot",
            "Chips, Salzstängeli und Zwieback"
          ]
        },
        {
          question: "Gestärkt gehts weiter, ihr kommt an einem Berg Restaurant vorbei – Zeit für eine Abkühlung. Ihr schaut euch die Glacékarte an. Welches Glacé ist vegan?",
          solution_index: 1,
          wrong_text: "Einen ganzen Tag bist du schon mit der Veganen Gesellschaft Schweiz unterwegs und dennoch hast du nichts gelernt. WASSERGLACÉ greif zum WASSERGLACÉ...",
          last_question: "true",
          answers: [
            "Cournet",
            "Rakete",
            "Maxibon"
          ]
        }
      ];

      this.playerIconUrlValue = "https://vegan.ch/wp-content/uploads/VGS_VSG_player.svg";

      this.numberIconsValue = [
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_01.svg",
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_02.svg",
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_03.svg",
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_04.svg",
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_05.svg",
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_06.svg",
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_07.svg",
        "https://vegan.ch/wp-content/uploads/VGS_VSG_frage_08.svg"
      ]

      this.marginValue = {
        top: 150,
        bottom: 15,
        left: 30,
        right: 30
      };

      this.backgroundImageUrlValue = "https://vegan.ch/wp-content/uploads/VGS_VSG_bg_kombiniert.svg";


      this.initiateGame();

    }

    initiateGame(){
      this.setSvg()
      .then((svg) => this.setBackground())
      //.then((background) => this.setLogo())
      .then((logo) => this.setTopBox({content: this.startTextValue, imageUrl: this.playerIconUrlValue}))
      .then((box) => this.setStartButton())
      .then((button) => this.setFlags());
    }

    tryAgain(){
      this.currentQuestionIndexValue = 0;

      d3.select("svg").remove();

      this.setSvg()
      .then((svg) => this.setBackground())
      .then((background) => this.setLogo())
      .then((logo) => this.setTopBox({content: this.startTextValue, imageUrl: this.playerIconUrlValue}))
      .then((box) => this.setStartButton())
      .then((button) => this.setFlags());
    }

    setSvg(){
      var self = this;

      return new Promise(function(final_resolve, final_reject){

        self.widthValue = self.gameTarget.offsetWidth;

        self.heightValue = self.widthValue / 1;

        svg = d3.select("#game")
          .append("svg")
          .attr("width", self.widthValue)
          .attr("height", self.heightValue + self.marginValue.top + self.marginValue.bottom)
          .append("g")
          .attr("transform", `translate(${0}, ${0})`);

        backgroundImage = svg.append("g")
        .attr("transform", `translate(${0}, ${self.backgroundImageBufferValue})`);


          final_resolve("svg set");

      })

    }

    setBackground(){
      var self = this;

      return new Promise(function(final_resolve, final_reject){

        self.backgroundImageHeightValue = self.widthValue * 0.56585754078;

        backgroundImage.append("svg:image")
          .attr("transform", `translate(${0}, ${0})`)
          .attr('width', self.widthValue)
          .attr('id', "survival_game_background_image")
          .attr('height', self.backgroundImageHeightValue)
          .style("opacity", 1)
          .attr("xlink:href", "https://vegan.ch/wp-content/uploads/VGS_VSG_bg_kombiniert.svg");

          final_resolve("backgound set");

      })

    }

    setTopBox(parameters){
      var self = this;

      return new Promise(function(final_resolve, final_reject){

        if(topBox){
          topBox.remove();
        }
        console.log("topBoxSizeValue");
        console.log(self.topBoxSizeValue.height);
        topBox = svg.append("foreignObject")
        .attr('x', (self.widthValue/100) * 0)
        .attr('y', (self.heightValue/100) * 0)
        .attr('width', (self.widthValue/100) * self.topBoxSizeValue.width_percentage)
      //  .attr('height', (self.heightValue/100)* 25)
        .attr('height', self.topBoxSizeValue.height)
        .append("xhtml:div")
        .html(d => `
        <div class="rounded text-white p-4" style="background-color: #415C66;">
          <div class="row">
            <div class="col-2">
              <img src="${parameters["imageUrl"]}" class="" style="max-height: 75px;">
            </div>
            <div class="col-10">
              ${parameters.content}
            </div>
          </div>
        </div>
        `);

        final_resolve("question box set");

      })

    }

    movePlayerIcon(){
      var self = this;
      var current_question_index = this.currentQuestionIndex;

      return new Promise(function(final_resolve, final_reject){

        playerIcon
        .transition()
        .duration(1500)
        .attr("transform", `translate(${(self.widthValue / 100) * self.flagCoordinatesValue[self.currentQuestionIndexValue].x}, ${(self.backgroundImageHeightValue/ 100) * self.flagCoordinatesValue[self.currentQuestionIndexValue].y})`);
      })
    }

    setPlayerIcon(){
      var self = this;

      return new Promise(function(final_resolve, final_reject){

        console.log("setPlayerIcon");

        playerIcon = backgroundImage
                  .append("g");

                  playerIcon
                  .append("svg:image")
                  .attr("transform", `translate(${-((self.widthValue / 100) * 8)/2}, ${-((self.widthValue / 100) * 8)/2})`)
                  //.attr('x', (self.widthValue / 100) * self.flagCoordinatesValue[0].x + 12)
                  //.attr('y', (self.heightValue/100) * self.flagCoordinatesValue[0].y + 100)
                  .attr('width', (self.widthValue / 100) * 8)
                  //.attr('height', this.heightValue)
                  .style("cursor", "pointer")
                  .style("opacity", 1)
                  .attr("xlink:href", self.playerIconUrlValue);

        self.movePlayerIcon();

        final_resolve("player icon set");

      })

    }


    updateTopBox(parameters){
      var self = this;

      return new Promise(function(final_resolve, final_reject){

        topBox = svg.append("foreignObject")
        .attr('x', (self.widthValue/100) * 35)
        .attr('y', (self.heightValue/100) * 5)
        .attr('width', (self.widthValue/100) * 60)
        .attr('height', (self.heightValue))
        .append("xhtml:div")
        .html(d => `
        <div class="rounded text-white p-4" style="background-color: #415C66;">
          <div class="row">
            <div class="col-2">
              <img src="${parameters["imageUrl"]}" class="img-fluid">
            </div>
            <div class="col-10">
              ${parameters.content}
            </div>
          </div>
        </div>
        `);

        final_resolve("question box set");

      })

    }

    checkAnswer(event){

      if(this.questionsValue[this.currentQuestionIndexValue].solution_index == event.params.index){
        console.log(this.questionsValue[this.currentQuestionIndexValue]);
        if(this.questionsValue[this.currentQuestionIndexValue].last_question == "true"){
          answers.remove();
          topBox.remove();
          this.currentQuestionIndexValue = this.currentQuestionIndexValue + 1;
          //this.setTopBox({content: this.questionsValue[this.currentQuestionIndexValue].question, imageUrl: this.numberIconsValue[this.currentQuestionIndexValue] })
          //this.setAnswers();
          this.movePlayerIcon();
        } else {
          answers.remove();
          this.currentQuestionIndexValue = this.currentQuestionIndexValue + 1;
          this.setTopBox({content: this.questionsValue[this.currentQuestionIndexValue].question, imageUrl: this.numberIconsValue[this.currentQuestionIndexValue] })
          this.setAnswers();
          this.movePlayerIcon();
        }

      } else {
        //console.log("wrong answer");
        this.deathAnimation()
        answers.remove();
        this.setTopBox({content: this.questionsValue[this.currentQuestionIndexValue].wrong_text, imageUrl: this.playerIconUrlValue})
        this.setRestartButton();
      }
    }

    setAnswers(){
      var self = this;

      return new Promise(function(final_resolve, final_reject){

        var answers_string = "";

        for (let i = 0; i < self.questionsValue[self.currentQuestionIndexValue].answers.length; i++) {
          answers_string +=
          `
          <div class="p-1 my-3" style="background-color: #FFFFFF; border-radius: 50px; cursor: pointer" data-action="click->survival-game#checkAnswer" data-survival-game-index-param="${i}">
            <div class="row">
              <div class="col-1">
                <div style="border-radius: 50%;
                height: 25px;
                width: 25px;
                border: 2px solid #63C3D1;">
                </div>
              </div>
              <div class="col-11">
                ${self.questionsValue[self.currentQuestionIndexValue].answers[i]}
              </div>
            </div>
          </div>
          `;
        }


          answers = svg.append("foreignObject")
          .attr('x', (self.widthValue/100) * 25)
          .attr('y', (self.heightValue/100) * 20)
          .attr('width', (self.widthValue/100) * 72)
          .attr('height', (self.heightValue))
          .append("xhtml:div")
          .html(d => `
                ${answers_string}
          `);



        final_resolve("answer set");

      })

    }

    setRestartButton(){
      var self = this;

      return new Promise(function(final_resolve, final_reject){
        startButton = svg.append("foreignObject")
        .attr('x', (self.widthValue/100) * 40)
        .attr('y', (self.heightValue/100) * 40)
        .attr('width', (self.widthValue/100) * 50)
        .attr('height', (self.heightValue))
        .append("xhtml:div")
        .html(d => `
        <div class="p-4" style="background-color: #FFFFFF; border-radius: 50px; cursor: pointer" data-action="click->survival-game#tryAgain">
          <div class="row">
            <div class="col-1">
              <div style="border-radius: 50%;
              height: 25px;
              width: 25px;
              border: 2px solid #63C3D1;">
              </div>
            </div>
            <div class="col-11">
              Erneut versuchen
            </div>
          </div>
        </div>
        `);

        final_resolve("restart button set");

      })

    }

    setStartButton(){
      var self = this;

      return new Promise(function(final_resolve, final_reject){
        console.log("startbutton")
        startButton = svg.append("foreignObject")
        .attr('x', (self.widthValue/100) * 0)
        .attr('y', self.topBoxSizeValue.height)
        .attr('width', (self.widthValue/100) * 95)
        .attr('height', (self.heightValue))
        .append("xhtml:div")
        .html(d => `
        <div class="p-4" style="background-color: #FFFFFF; border-radius: 50px; cursor: pointer" data-action="click->survival-game#startGame">
          <div class="row">
            <div class="col-1">
              <div style="border-radius: 50%;
              height: 25px;
              width: 25px;
              border: 2px solid #63C3D1;">
              </div>
            </div>
            <div class="col-11">
              Spiel starten
            </div>
          </div>
        </div>
        `);

        final_resolve("start button set");

      })

    }

    setQuestionBox(){
      var self = this;

      return new Promise(function(final_resolve, final_reject){

        //svg.append('rect')
        //  .attr('x', (self.widthValue/100) * 40)
        //  .attr('y', (self.heightValue/100) * 5)
        //  .attr('rx', 10)
        //  .attr('width', (self.widthValue/100) * 40)
        //  .attr('height', (self.heightValue/100) * 33)
        //  .attr('stroke', '#415C66')
        //  .attr('fill', '#415C66');

          svg.append("foreignObject")
          .attr('x', (self.widthValue/100) * 35)
          .attr('y', (self.heightValue/100) * 5)
          .attr('width', (self.widthValue/100) * 60)
          .attr('height', (self.heightValue))
          .append("xhtml:div")
          .html(d => `
          <div class="rounded text-white p-4" style="background-color: #415C66;">
            <div class="row">
              <div class="col-3">
                <img src="${self.playerIconUrlValue}" class="img-fluid">
              </div>
              <div class="col-9">
                ${self.startTextValue}
              </div>
            </div>
          </div>
          `);

          final_resolve("question box set");

      })


    }

    setLogo(){
      var self = this;
      return new Promise(function(final_resolve, final_reject){

        svg.append("svg:image")
          .attr('x', (self.widthValue / 100) * 5)
          .attr('y', (self.heightValue/100) * 2)
          .attr('width', (self.widthValue / 100) * 15)
          //.attr('height', this.heightValue)
          .style("cursor", "pointer")
          .style("opacity", 1)
          .attr("xlink:href", "https://vegan.ch/wp-content/uploads/VGS_VSG_logo.svg");

          final_resolve("logo set");
      })

    }

    setFlags(){
      var self = this;
      return new Promise(function(final_resolve, final_reject){
        console.log("setFlags");
        flags = backgroundImage.append("g");

        for (let i = 0; i < self.flagCoordinatesValue.length; i++) {

        var flagWidth = (self.widthValue / 100) * 8;
        var flagHeight = flagWidth;

      //  flags
      //        .append('g')
      //        .attr("transform", `translate(${(self.widthValue / 100) * self.flagCoordinatesValue[i].x}, ${(backgroundImageHeight / 100) * self.flagCoordinatesValue[i].y})`)
      //        .append('circle')
      //         .attr('r', 10)
      //         .attr('stroke', 'gray')
      //         .attr('fill', 'gray')

              flags
                  .append('g')
                  .attr("transform", `translate(${(self.widthValue / 100) * self.flagCoordinatesValue[i].x}, ${(self.backgroundImageHeightValue / 100) * self.flagCoordinatesValue[i].y})`)
                  .append("svg:image")
                  .attr("transform", `translate(${-(flagWidth * 0.48)}, ${-flagHeight * 0.73})`)
                  //.attr('x', (self.widthValue / 100) * self.flagCoordinatesValue[0].x + 12)
                  //.attr('y', (self.heightValue/100) * self.flagCoordinatesValue[0].y + 100)
                  .attr('width', (self.widthValue / 100) * 8)
                  .attr('height', flagHeight)
                  //.attr('height', this.heightValue)
                  .style("cursor", "pointer")
                  .style("opacity", 1)
                  .attr("xlink:href", self.flagiconUrlValue);

        }

          final_resolve("flags set");



      })

    }

    dropFlags(){

      var self = this;

      d3.selectAll(flags._groups[0][0].childNodes)
        .each(function (p, i) {

          d3.select(this)
          .transition()
          .duration(1500)
          .attr("transform", function(d) {
            return `translate(${(self.widthValue / 100) * self.flagCoordinatesValue[i].x}, 2000)`
          })
        });

    //  d3.selectAll(flags._groups[0][0].childNodes)
    //  .transition()
    //  .duration(1500)
    //  .attr("transform", function(d) {
    //    console.log(d)
    //    return `translate(${0}, 2000)`
    //  })
      //.attr("transform", `translate(${0}, ${2000})`);
    }

    dropPlayerIcon(){
      var self = this;
      playerIcon.transition()
      .duration(1500)
      .attr("transform", `translate(${(self.widthValue / 100) * self.flagCoordinatesValue[self.currentQuestionIndexValue].x}, ${2000})`);
    }

    deathAnimation(){
      this.dropFlags();
      this.dropPlayerIcon()
    }

    drawGame(){



    }

    greet() {
      console.log()
      this.outputTarget.textContent =
        `survival-game, ${this.nameTarget.value}!`
    }

    startGame() {
      startButton.remove();
      this.setTopBox({content: this.questionsValue[this.currentQuestionIndexValue].question, imageUrl: this.numberIconsValue[this.currentQuestionIndexValue] })
      this.setAnswers();
      this.setPlayerIcon();

    }

  })
</script>


  <div class="container-fluid" style="background-color: #63C3D1;">
  <div data-controller="survival-game"
    data-survival-game-margin-value="{}"
  >

    <span data-survival-game-target="output">
    </span>

    <div data-survival-game-target="game" id="game">

    </div>

    <div data-survival-game-target="baseTopBox" class="rounded text-white p-4" style="background-color: #415C66;">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          Hey du, heute gehen wir gemeinsam Wandern. Da du heute mit der Veganen Gesellschaft Schweiz unterwegs bist, stehen rein pflanzliche Lebensmittel auf dem Speiseplan. Pack, Block und Stift ein, denn du wirst bestimmt neue Infos rund um den veganen Lebensstil erhalten.
        </div>
      </div>
    </div>

  </div>
</div>
