<div class="container mt-3">

    <h1>Swiss Vegan Awards Jury Query</h1>

    <div class="my-4">

    </div>

    <div class="card">
    <%= image_tag("green-mountain-burger.jpg", class: "card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>