/* line 5, app/assets/stylesheets/custom.scss */
body {
  font-family: 'Montserrat', sans-serif;
}

/* line 13, app/assets/stylesheets/custom.scss */
.page-cover-bg {
  background-position: center;
  background-repeat: no-repeat;
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-1 {
  border-width: 1px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-1:hover {
  transform: scale(1.01);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-2 {
  border-width: 2px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-2:hover {
  transform: scale(1.02);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-3 {
  border-width: 3px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-3:hover {
  transform: scale(1.03);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-4 {
  border-width: 4px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-4:hover {
  transform: scale(1.04);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-5 {
  border-width: 5px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-5:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-6 {
  border-width: 6px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-6:hover {
  transform: scale(1.06);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-7 {
  border-width: 7px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-7:hover {
  transform: scale(1.07);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-8 {
  border-width: 8px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-8:hover {
  transform: scale(1.08);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-9 {
  border-width: 9px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-9:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-10 {
  border-width: 10px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-10:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-11 {
  border-width: 11px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-11:hover {
  transform: scale(1.11);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-12 {
  border-width: 12px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-12:hover {
  transform: scale(1.12);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-13 {
  border-width: 13px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-13:hover {
  transform: scale(1.13);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-14 {
  border-width: 14px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-14:hover {
  transform: scale(1.14);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-15 {
  border-width: 15px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-15:hover {
  transform: scale(1.15);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-16 {
  border-width: 16px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-16:hover {
  transform: scale(1.16);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-17 {
  border-width: 17px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-17:hover {
  transform: scale(1.17);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-18 {
  border-width: 18px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-18:hover {
  transform: scale(1.18);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-19 {
  border-width: 19px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-19:hover {
  transform: scale(1.19);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-20 {
  border-width: 20px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-20:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-21 {
  border-width: 21px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-21:hover {
  transform: scale(1.21);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-22 {
  border-width: 22px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-22:hover {
  transform: scale(1.22);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-23 {
  border-width: 23px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-23:hover {
  transform: scale(1.23);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-24 {
  border-width: 24px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-24:hover {
  transform: scale(1.24);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-25 {
  border-width: 25px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-25:hover {
  transform: scale(1.25);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-26 {
  border-width: 26px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-26:hover {
  transform: scale(1.26);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-27 {
  border-width: 27px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-27:hover {
  transform: scale(1.27);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-28 {
  border-width: 28px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-28:hover {
  transform: scale(1.28);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-29 {
  border-width: 29px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-29:hover {
  transform: scale(1.29);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-30 {
  border-width: 30px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-30:hover {
  transform: scale(1.3);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-31 {
  border-width: 31px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-31:hover {
  transform: scale(1.31);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-32 {
  border-width: 32px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-32:hover {
  transform: scale(1.32);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-33 {
  border-width: 33px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-33:hover {
  transform: scale(1.33);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-34 {
  border-width: 34px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-34:hover {
  transform: scale(1.34);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-35 {
  border-width: 35px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-35:hover {
  transform: scale(1.35);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-36 {
  border-width: 36px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-36:hover {
  transform: scale(1.36);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-37 {
  border-width: 37px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-37:hover {
  transform: scale(1.37);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-38 {
  border-width: 38px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-38:hover {
  transform: scale(1.38);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-39 {
  border-width: 39px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-39:hover {
  transform: scale(1.39);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-40 {
  border-width: 40px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-40:hover {
  transform: scale(1.4);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-41 {
  border-width: 41px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-41:hover {
  transform: scale(1.41);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-42 {
  border-width: 42px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-42:hover {
  transform: scale(1.42);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-43 {
  border-width: 43px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-43:hover {
  transform: scale(1.43);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-44 {
  border-width: 44px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-44:hover {
  transform: scale(1.44);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-45 {
  border-width: 45px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-45:hover {
  transform: scale(1.45);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-46 {
  border-width: 46px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-46:hover {
  transform: scale(1.46);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-47 {
  border-width: 47px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-47:hover {
  transform: scale(1.47);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-48 {
  border-width: 48px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-48:hover {
  transform: scale(1.48);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-49 {
  border-width: 49px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-49:hover {
  transform: scale(1.49);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 93, app/assets/stylesheets/custom.scss */
.thick-borders-50 {
  border-width: 50px !important;
}

/* line 97, app/assets/stylesheets/custom.scss */
.scale-1-50:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* line 104, app/assets/stylesheets/custom.scss */
.mt-n6 {
  margin-top: -4.3rem !important;
}

/* line 108, app/assets/stylesheets/custom.scss */
.mt-n7 {
  margin-top: -6rem !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-a-color {
  background-color: #554732 !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-b-color {
  background-color: #f2ede8 !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-c-color {
  background-color: #ec7d22 !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-d-color {
  background-color: #9a76a3 !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-e-color {
  background-color: #9a7e59 !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-f-color {
  background-color: #5fa778 !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-g-color {
  background-color: #B4C760 !important;
}

/* line 36, app/assets/stylesheets/custom.scss */
.bg-h-color {
  background-color: #27945E !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-a-color {
  color: #554732 !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-b-color {
  color: #f2ede8 !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-c-color {
  color: #ec7d22 !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-d-color {
  color: #9a76a3 !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-e-color {
  color: #9a7e59 !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-f-color {
  color: #5fa778 !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-g-color {
  color: #B4C760 !important;
}

/* line 60, app/assets/stylesheets/custom.scss */
.text-h-color, .article h1 {
  color: #27945E !important;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-a-color {
  color: #ffffff;
  background-color: #554732 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-a-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #554732;
  background-color: #ffffff;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-b-color {
  color: #ffffff;
  background-color: #f2ede8 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-b-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #f2ede8;
  background-color: #ffffff;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-c-color {
  color: #ffffff;
  background-color: #ec7d22 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-c-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #ec7d22;
  background-color: #ffffff;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-d-color {
  color: #ffffff;
  background-color: #9a76a3 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-d-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #9a76a3;
  background-color: #ffffff;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-e-color {
  color: #ffffff;
  background-color: #9a7e59 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-e-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #9a7e59;
  background-color: #ffffff;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-f-color {
  color: #ffffff;
  background-color: #5fa778 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-f-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #5fa778;
  background-color: #ffffff;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-g-color {
  color: #ffffff;
  background-color: #B4C760 !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-g-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #B4C760;
  background-color: #ffffff;
}

/* line 70, app/assets/stylesheets/custom.scss */
.btn-h-color {
  color: #ffffff;
  background-color: #27945E !important;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 78, app/assets/stylesheets/custom.scss */
.btn-h-color:hover {
  color: #ffffff;
  filter: brightness(1.1);
  transform: scale(1.09);
}

/* line 85, app/assets/stylesheets/custom.scss */
.btn .badge {
  color: #27945E;
  background-color: #ffffff;
}

/* line 124, app/assets/stylesheets/custom.scss */
.top-section-bg {
  height: 450px;
  background-color: #c6c6c6;
}

/* line 131, app/assets/stylesheets/custom.scss */
.article h1 {
  text-transform: uppercase;
}

/* line 141, app/assets/stylesheets/custom.scss */
.navbar-brand:hover {
  filter: brightness(0.5);
  transform: scale(1.05);
}

/* line 149, app/assets/stylesheets/custom.scss */
.nav-link:hover {
  filter: brightness(0.5);
  transform: scale(1.09);
}
