<table class="table table-striped">
  <tbody>
    <% horses.each do |horse| %>
      <tr>
        <td>
          <%= render "horses/table_element", horse: horse %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
