<div class="container mt-2">
  <h1>Hufbeschlagung</h1>
  <p>
    <%= link_to 'Neues Pferd eintragen', new_horse_path %>
  </p>

<hr>

<h2>Alle Pferde, sortiert nach Dringlichkeit</h2>

<p class="">
   <%= link_to 'ODT herunterladen', get_odt_of_horses_horses_path %>
   <br>
  <%= link_to 'PDF herunterladen', get_pdf_of_horses_horses_path %>

</p>

<%= render "horses/table", horses: Horse.all.order(:shoeing_deadline) %>


</div>
