<div class="container mt-2">
  <h1>Hufbeschlagung</h1>
  <p>
    <%= link_to 'Neues Pferd eintragen', new_horse_path %>
  </p>

<hr>

<h2>Alle Pferde, sortiert nach Dringlichkeit</h2>

<%= render "horses/table", horses: Horse.all.order(:shoeing_deadline) %>


</div>
