<div class="search_game_main_div">
  <%= image_tag "philosophische-insel-logo-cut.webp", id: "search_game_button" %>
  <p>
    Klick mich!
  </p>
</div>

<script>
  $( "#search_game_button" ).click(function() {
    alert( "Handler for .click() called." );
  });
</script>
