<div class="container">
  <div class="search_game_main_div text-center">
    <%= image_tag "santas_sleigh.png", class: "img-fluid", id: "search_game_button" %>
    <p id="search_game_text" class="text-center">
      <%= @text %>
    </p>
    <p id="search_game_answer1" class="text-center">

    </p>
    <p id="search_game_answer2" class="text-center">

    </p>
    <p class="text-center">
      <%#= @identifier %>
    </p>
    <p class="text-center">
      <%#= @cookie %>
    </p>
  </div>
</div>
<script>
  $( "#search_game_button" ).click(function() {
    console.log("You found me!");

    $.ajax({
      method: "POST",
      url: "search_game_find",
      data: { identifier: "<%= raw @identifier %>", cookie: "<%= raw @cookie %>" }
    })
      .done(function( answer ) {
        $("#search_game_text").text("");
        $("#search_game_answer1").text(answer["answer1"]);
        $("#search_game_answer2").text(answer["answer2"]);

      });

  });
</script>
