<p> </p>
<table class="table" id="phil" style="height: 3554px; float: left;">
<thead>
<tr style="height: 34px;">
<th style="width: 68.3056px; height: 34px; text-align: left;">Date</th>
<th style="width: 89.2639px; height: 34px; text-align: left;" scope="col">Name of Newspaper</th>
<th style="width: 122.708px; height: 34px; text-align: left;" scope="col">Title</th>
<th style="width: 138.375px; height: 34px; text-align: left;" scope="col">Abstract</th>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 68.3056px; text-align: left;">20.01.2022</td>
<td style="width: 89.2639px; text-align: left;">Die Weltwoche</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://weltwoche.ch/story/karl-marx-und-zuger-kirschtorten/" target="_blank" rel="noopener" data-link-target="blank">Karl Marx und Zuger Kirschtorten</a></td>
<td style="width: 138.375px; text-align: left;">Klassenkampf bedeutet nichts anderes als die Austragung unterschiedlicher Interessen.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">20.01.2022</td>
<td style="width: 89.2639px; text-align: left;">WOZ Die Wochenzeitung</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.woz.ch/2203/digitale-oekonomie/die-menschen-werden-zu-robotern-gemacht" target="_blank" rel="noopener" data-link-target="blank">«Die Menschen werden zu Robotern gemacht»</a></td>
<td style="width: 138.375px; text-align: left;">Der Basler Soziologe Simon Schaupp hat sich intensiv mit digital gesteuerten Arbeitsprozessen beschäftigt. Ein Gespräch über die Mythen der Digitalisierung, kybernetische Kontrolle und informellen Widerstand.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">16.01.2022</td>
<td style="width: 89.2639px; text-align: left;">WOZ Die Wochenzeitung</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.woz.ch/2150/essay/die-logik-lautet-wenn-wir-globale-probleme-in-geschaeftsmodelle-uebersetzen-dann-werden" target="_blank" rel="noopener" data-link-target="blank">Die Logik lautet: Wenn wir globale Probleme in Geschäftsmodelle übersetzen, dann werden wir sie auch lösen können</a></td>
<td style="width: 138.375px; text-align: left;">Profitgier ist out: Das Wef will heute ein Forum der Nachhaltigkeit sein, im Silicon Valley definieren sich Geschäftsmodelle sogar wesentlich durch die Lösung sozialer Probleme. Auch wenn das alles nur PR ist, wozu eigentlich?</td>
</tr>
<tr style="height: 18px;">
<td style="width: 68.3056px; text-align: left; height: 18px;">15.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 18px;">Neue Zürcher Zeitung </td>
<td style="width: 122.708px; text-align: left; height: 18px;"><a class="external" href="https://www.nzz.ch/feuilleton/corona-hoert-die-politik-nur-auf-die-wissenschaft-ist-sie-keine-ld.1664587" target="_blank" rel="noopener" data-link-target="blank">«Das ist wissenschaftlich erwiesen», ist kein politisches Argument: Es gibt keine evidenzbasierte Politik, und wenn es sie gäbe, wäre sie das Ende der Demokratie</a></td>
<td style="width: 138.375px; text-align: left; height: 18px;">Für Gebildete sind Impfgegner und Klimaskeptiker eine Zumutung. Dabei legen sie nur die Schwachstelle der demokratischen Wissensgesellschaft bloss.</td>
</tr>
<tr style="height: 18px;">
<td style="width: 68.3056px; text-align: left; height: 18px;">15.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 18px;">Neue Zürcher Zeitung</td>
<td style="width: 122.708px; text-align: left; height: 18px;"><a class="external" href="https://www.nzz.ch/meinung/sanftheit-ist-nicht-immer-hilfreich-grenzen-des-oeko-denkens-ld.1662905" target="_blank" rel="noopener" data-link-target="blank">Gehen wir demnächst sanft zugrunde? – Nichts gegen Ökologie, solange sie nicht zur Unvernunft wird. Das aber ist leider zunehmend der Fall</a></td>
<td style="width: 138.375px; text-align: left; height: 18px;">Viele Menschen guten Willens, zumal auch solche mit höherer Bildung, sind seit Jahrzehnten darauf trainiert, an die Wohltaten «sanfter Technologien» und «alternativer Lebensformen» zu glauben. Es fragt sich, ob dies zur Lösung der Probleme unserer Gegenwart hilfreich ist.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">15.01.2022</td>
<td style="width: 89.2639px; text-align: left;">Tages-Anzeiger</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.tagesanzeiger.ch/wie-unser-haustier-lurchi-mein-seelisches-gleichgewicht-wiederherstellte-636341417809" target="_blank" rel="noopener" data-link-target="blank">Wie unser Haustier Lurchi mein seelisches Gleichgewicht wiederherstellte</a></td>
<td style="width: 138.375px; text-align: left;">Was direkt zu der Frage führt: Wie nennt man es bloss, wenn man sich nach Gewohnheiten sehnt?</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">15.01.2022</td>
<td style="width: 89.2639px; text-align: left;">Corriere del Ticino</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.cdt.ch/approfondimenti/le-fake-news-abituiamoci-a-pensare-come-scienziati-EA5064996" target="_blank" rel="noopener" data-link-target="blank">«Le fake news? Abituiamoci a pensare come scienziati»</a></td>
<td style="width: 138.375px; text-align: left;">L’avanzata della pseudoscienza e delle notizie false ci impone di evitare gli errori gli inganni e gli autoinganni di ragionamento – A colloquio con lo scrittore e divulgatore scientifico Massimo Polidoro</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">14.01.2022</td>
<td style="width: 89.2639px; text-align: left;">La Regione</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.laregione.ch/culture/pensiero/1559205/scienza-storia-ciardi-pseudoscienze-discorso" target="_blank" rel="noopener" data-link-target="blank">La storia delle pseudoscienze per conoscere la scienza</a></td>
<td style="width: 138.375px; text-align: left;">L’approccio storico è importante per restituire al discorso scientifico quella complessità che da sempre lo ha caratterizzato, scrive Marco Ciardi</td>
</tr>
<tr style="height: 130px;">
<td style="width: 68.3056px; text-align: left; height: 130px;">14.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 130px;">Le Temps</td>
<td style="width: 122.708px; text-align: left; height: 130px;"><a class="external" href="https://www.letemps.ch/opinions/lexperimentation-animale-stade-ultime-lanthropocentrisme" target="_blank" rel="noopener" data-link-target="blank">L’expérimentation animale, stade ultime de l’anthropocentrisme?</a></td>
<td style="width: 138.375px; text-align: left; height: 130px;">Le 13 février scellera le sort d’un texte, le 4e au niveau fédéral, concernant 500 000 victimes annuelles, écrit l’historien Grégoire Gonin</td>
</tr>
<tr style="height: 1006px;">
<td style="width: 68.3056px; text-align: left; height: 1006px;">14.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 1006px;">
<p>Le Temps</p>
</td>
<td style="width: 122.708px; text-align: left; height: 1006px;"><a class="external" href="https://blogs.letemps.ch/richard-emmanuel-eastes/2022/01/14/pensee-complotiste-et-pensee-critique/">Pensée complotiste et pensée critique</a></td>
<td style="width: 138.375px; text-align: left; height: 1006px;">
<p>Depuis la campagne de Donald Trump, durant sa présidence, au moment de l’assaut du Capitole par les adeptes du mouvement QAnon, et plus encore depuis le début de la pandémie de Covid-19, beaucoup a été dit sur le phénomène complotiste. Peut-être même trop. Mais la diversité des émissions, des articles et des ouvrages consacrés à ce sujet a au moins permis de comprendre une chose : il s’agit d’un phénomène complexe et multiforme, aux multiples causes, que l’on ne saurait réduire à un défaut de culture ou à un QI limité chez les adeptes de ses “théories”.</p>
<p>Phénomène social et psychologique bien plus que cognitif, le développement du complotisme mérite dès lors que l’on s’interroge non seulement sur ce qu’il est et sur la manière dont il se manifeste, mais également sur ce qu’il traduit. Sur ce qu’il dit de notre monde, des inégalités économiques, sociales et cognitives qui traversent nos sociétés, comme autant de forces d’éclatement tristement révélées à la faveur des crises politiques et sanitaires récentes.</p>
</td>
</tr>
<tr style="height: 280px;">
<td style="width: 68.3056px; text-align: left; height: 280px;">13.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 280px;">Heidi.news</td>
<td style="width: 122.708px; text-align: left; height: 280px;"><a class="external" href="https://www.heidi.news/sciences-climat/temoignage-je-n-ai-jamais-rencontre-un-chercheur-content-de-faire-du-mal-a-un-animal" target="_blank" rel="noopener" data-link-target="blank">Témoignage: «Je n’ai jamais rencontré un chercheur content de faire du mal à un animal»</a></td>
<td style="width: 138.375px; text-align: left; height: 280px;">Joanne* est chercheuse et responsable d’expérimentation animale à Genève. Très sensible à la cause animale, consciente des enjeux éthiques, elle a accepté de témoigner sans fausse pudeur sur ce qui se passe dans les laboratoires. Y compris sur les aspects parfois sensibles ou méconnus du grand public.</td>
</tr>
<tr style="height: 168px;">
<td style="width: 68.3056px; text-align: left; height: 168px;">13.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 168px;">Le Courrier</td>
<td style="width: 122.708px; text-align: left; height: 168px;"><a class="external" href="https://lecourrier.ch/2022/01/13/souffrances-psychiques-et-souffrances-sociales/" target="_blank" rel="noopener" data-link-target="blank">Souffrances psychiques et souffrances sociales</a></td>
<td style="width: 138.375px; text-align: left; height: 168px;">On assiste depuis plusieurs années dans nos sociétés à un processus discutable de prise en charge des souffrances psychiques d’origine sociale par une réponse d’ordre psychothérapeutique.</td>
</tr>
<tr style="height: 168px;">
<td style="width: 68.3056px; text-align: left; height: 168px;">12.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 168px;">Basler Zeitung</td>
<td style="width: 122.708px; text-align: left; height: 168px;"><a class="external" href="https://www.bazonline.ch/wie-wir-ticken-881861461141" target="_blank" rel="noopener" data-link-target="blank">Wie wir ticken</a></td>
<td style="width: 138.375px; text-align: left; height: 168px;">Mal bleibt sie stehen, mal vergeht sie wie im Flug: Zeit bestimmt unser Leben. Schon viele kluge Köpfe haben sich an dem Phänomen den Kopf zerbrochen – trotzdem bleibt sie ein Rätsel.</td>
</tr>
<tr style="height: 205px;">
<td style="width: 68.3056px; text-align: left; height: 205px;">12.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 205px;">Arcinfo</td>
<td style="width: 122.708px; text-align: left; height: 205px;"><a class="external" href="https://www.arcinfo.ch/neuchatel-canton/peut-on-encore-rire-de-tout-trois-personnalites-regionales-en-debattent-1143671" target="_blank" rel="noopener" data-link-target="blank">Peut-on (encore) rire de tout? Trois personnalités régionales en débattent</a></td>
<td style="width: 138.375px; text-align: left; height: 205px;">L’arrêt de la chronique «Et Toc!» de Claude-Inga Barbey pour «Le Temps» relance les questionnements autour de l’humour. «ArcInfo» a réuni trois personnalités qui se trouvent en première ligne pour débattre du sujet.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">11.01.2022</td>
<td style="width: 89.2639px; text-align: left;">Tages-Anzeiger</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.tagesanzeiger.ch/die-herztransplantation-ist-ein-kalkulierter-tabubruch-761039375163" target="_blank" rel="noopener" data-link-target="blank">Die Herztransplantation ist ein kalkulierter Tabubruch</a></td>
<td style="width: 138.375px; text-align: left;">Zehntausende Tiere werden nur gehalten und getötet: um dem Menschen als Ersatzteillager zu dienen. Ist das moralisch vertretbar? Auf jeden Fall – und auch weiter verbreitet, als viele glauben.</td>
</tr>
<tr style="height: 205px;">
<td style="width: 68.3056px; text-align: left; height: 205px;">10.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 205px;">Le Temps</td>
<td style="width: 122.708px; text-align: left; height: 205px;"><a class="external" href="https://www.letemps.ch/societe/christophe-andre-profond-besoin-consolation" target="_blank" rel="noopener" data-link-target="blank">Christophe André et notre profond besoin de consolation</a></td>
<td style="width: 138.375px; text-align: left; height: 205px;">Les temps sont chahutés. Pour nos peines extrêmes, comme pour nos chagrins plus anodins, rien de tel qu’un soutien avisé. Bien consoler s’apprend, démontre le psychiatre français dans son nouvel ouvrage</td>
</tr>
<tr style="height: 205px;">
<td style="width: 68.3056px; text-align: left; height: 205px;">10.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 205px;">Neue Zürcher Zeitung</td>
<td style="width: 122.708px; text-align: left; height: 205px;"><a class="external" href="https://www.nzz.ch/feuilleton/zaehlen-und-rechnen-ralf-konersmanns-kulturgeschichte-des-masses-ld.1662885" target="_blank" rel="noopener" data-link-target="blank">Woher kommt unser Drang, dauernd zu zählen, zu rechnen, zu messen?</a></td>
<td style="width: 138.375px; text-align: left; height: 205px;">Wir geben den Dingen ihr Mass. Und selbst wenn wir das Mass sprengen wollen, brauchen wir es. Der Philosoph Ralf Konersmann hat eine Kulturgeschichte dieser menschlichen Obsession geschrieben.</td>
</tr>
<tr style="height: 37px;">
<td style="width: 68.3056px; text-align: left; height: 37px;">08.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 37px;">La Liberté</td>
<td style="width: 122.708px; text-align: left; height: 37px;"><a class="external" href="https://www.laliberte.ch/news/culture/litterature/pascal-ce-revolutionnaire-631686" target="_blank" rel="noopener" data-link-target="blank">Pascal, ce révolutionnaire</a></td>
<td style="width: 138.375px; text-align: left; height: 37px;"> </td>
</tr>
<tr style="height: 112px;">
<td style="width: 68.3056px; text-align: left; height: 112px;">05.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 112px;">Swissinfo.ch</td>
<td style="width: 122.708px; text-align: left; height: 112px;"><a class="external" href="https://www.swissinfo.ch/fre/-sous-l-angle-%C3%A9thique--l-exp%C3%A9rimentation-animale-suscite-la-controverse-depuis-longtemps-/47239078?utm_campaign=teaser-in-channel&amp;utm_medium=display&amp;utm_content=o&amp;utm_source=swissinfoch" target="_blank" rel="noopener" data-link-target="blank">«Sous l’angle éthique, l’expérimentation animale suscite la controverse depuis longtemps»</a></td>
<td style="width: 138.375px; text-align: left; height: 112px;"> </td>
</tr>
<tr style="height: 186px;">
<td style="width: 68.3056px; text-align: left; height: 186px;">04.01.2022</td>
<td style="width: 89.2639px; text-align: left; height: 186px;">Basler Zeitung</td>
<td style="width: 122.708px; text-align: left; height: 186px;"><a class="external" href="https://www.bazonline.ch/sein-ruf-nach-anstand-macht-viele-linke-rasend-657944855999" target="_blank" rel="noopener" data-link-target="blank">Sein Ruf nach Anstand macht viele Franzosen rasend</a></td>
<td style="width: 138.375px; text-align: left; height: 186px;">Der französische Philosoph Alain Finkielkraut bedauert den verloren gegangenen Anstand. Linke und auch die «gilets jaunes» sind dem jüdischen Intellektuellen feindlich gesinnt.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">28.12.2021</td>
<td style="width: 89.2639px; text-align: left;">Corriere del Ticino</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.cdt.ch/opinioni/saper-cogliere-l-attimo-fuggente-il-presente-e-l-anticamera-del-futuro-EX5022237?refresh=true" target="_blank" rel="noopener" data-link-target="blank">Saper cogliere l’attimo fuggente: il presente è l’anticamera del futuro</a></td>
<td style="width: 138.375px; text-align: left;"> </td>
</tr>
<tr style="height: 168px;">
<td style="width: 68.3056px; text-align: left; height: 168px;">24.12.2021</td>
<td style="width: 89.2639px; text-align: left; height: 168px;">Basler Zeitung</td>
<td style="width: 122.708px; text-align: left; height: 168px;"><a class="external" href="https://www.bazonline.ch/fuer-ayurveda-seminare-durch-die-welt-jetten-741254016671" target="_blank" rel="noopener" data-link-target="blank">Für Ayurveda-Seminare durch die Welt jetten</a></td>
<td style="width: 138.375px; text-align: left; height: 168px;">Wir 40- bis 55-Jährigen wussten früh Bescheid, aber andere Dinge waren wichtiger. Nun müssen wir eingestehen: Wir haben den Klimawandel verschlafen. Eine Selbstkritik.</td>
</tr>
<tr style="height: 522px;">
<td style="width: 68.3056px; text-align: left; height: 522px;">23.12.2021</td>
<td style="width: 89.2639px; text-align: left; height: 522px;">Heidi.news</td>
<td style="width: 122.708px; text-align: left; height: 522px;"><a class="external" href="https://www.heidi.news/apprendre-travailler/pourquoi-faisons-nous-des-erreurs-de-jugement" target="_blank" rel="noopener" data-link-target="blank">Pourquoi faisons-nous des erreurs de jugement?</a></td>
<td style="width: 138.375px; text-align: left; height: 522px;">Le klaxon continu d’une voiture, la sonnerie d’un téléphone, les cris d’un enfant… Le bruit nous entoure, nous gêne souvent, nous stresse aussi. Les effets du bruit sur la santé sont d’ailleurs avérés. Mais le bruit qui ne fait pas de bruit et dont les effets sont détonants, voilà une autre affaire. Et c’est à ce bruit, à cette variabilité indésirable du jugement, qu’ont décidé de s’attaquer les auteurs de Noise, best-seller publié en langue anglaise en mai dernier et dont la traduction française, aux Editions Odile Jacob, est présente en librairie depuis la fin du mois de septembre.</td>
</tr>
<tr style="height: 74px;">
<td style="width: 68.3056px; text-align: left; height: 74px;">23.12.2021</td>
<td style="width: 89.2639px; text-align: left; height: 74px;">Le Courrier</td>
<td style="width: 122.708px; text-align: left; height: 74px;"><a class="external" href="https://lecourrier.ch/2021/12/23/il-ne-faut-pas-juger-les-non-vaccines/" target="_blank" rel="noopener" data-link-target="blank">Il ne faut pas juger les non-vaccinés</a></td>
<td style="width: 138.375px; text-align: left; height: 74px;">Des éthiciens appellent à ne pas clouer au pilori les réfractaires au vaccin.</td>
</tr>
<tr style="height: 18px;">
<td style="width: 68.3056px; text-align: left; height: 18px;">21.12.2021</td>
<td style="width: 89.2639px; text-align: left; height: 18px;">Basler Zeitung</td>
<td style="width: 122.708px; text-align: left; height: 18px;"><a class="external" href="https://www.bazonline.ch/lass-dich-nicht-verhaerten-714261964946" target="_blank" rel="noopener" data-link-target="blank">Lass dich nicht verhärten</a></td>
<td style="width: 138.375px; text-align: left; height: 18px;">Der Liedermacher Wolf Biermann sang schon 1968 gegen Verbitterung und Verhärtung an. Sein Aufruf passt heute genauso gut wie damals.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">20.12.2021</td>
<td style="width: 89.2639px; text-align: left;">Heidi.news</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.heidi.news/sciences-climat/la-croissance-economique-n-ameliore-plus-la-qualite-de-vie" target="_blank" rel="noopener" data-link-target="blank">«La croissance économique n'améliore plus la qualité de vie»</a></td>
<td style="width: 138.375px; text-align: left;">Alors qu’une association en faveur de la décroissance vient de voir le jour en Suisse, Julia Steinberger en est convaincue: l’être humain n’a d’autre choix, pour assurer son avenir, que de viser la décroissance, en diminuant notamment la consommation. Un plaidoyer qui s’adresse principalement aux pays riches, dont la Suisse bien entendu, et que détaille pour Heidi.news la professeure en économie écologique à l’Université de Lausanne et auteure principale du rapport du 3e groupe du Giec, attendu pour le printemps 2022.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">10.12.2021</td>
<td style="width: 89.2639px; text-align: left;">Basler Zeitung</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.bazonline.ch/die-perspektive-der-anderen-885027083267" target="_blank" rel="noopener" data-link-target="blank">Die Perspektive der Anderen</a></td>
<td style="width: 138.375px; text-align: left;">
<p>Die einen sind der Meinung, das Glas sei halbvoll, die anderen sind dagegen überzeugt, es verhalte sich genau umgekehrt. Wer hat recht? Manche meinen beim Anblick des Vexierbilds, eine junge Frau zu erkennen, andere wiederum das Gesicht einer alten Dame. Wer sieht richtig und wer unterliegt der Täuschung?</p>
<p>Kann man hier überhaupt von Illusion sprechen? Oder sind dies zwei verschiedene Möglichkeiten der (Welt-)Wahrnehmung, die beide ihre Daseinsberechtigung haben? Obwohl es sich um ein und denselben Sachverhalt handelt, reden wir in solchen Fällen aneinander vorbei. Wie kann das sein?</p>
<p> </p>
</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">09.12.2021</td>
<td style="width: 89.2639px; text-align: left;">WOZ Die Wochenzeitung</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.woz.ch/2149/auf-allen-kanaelen/warum-eigentlich-all-die-bezahlschranken" target="_blank" rel="noopener" data-link-target="blank">Warum eigentlich all die Bezahlschranken?</a></td>
<td style="width: 138.375px; text-align: left;">
<p>Die Plattform Sci-Hub macht wissenschaftliche Publikationen frei zugänglich und provoziert die Frage, ob dieses Wissen exklusiv sein soll.</p>
</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">02.12.2021</td>
<td style="width: 89.2639px; text-align: left;">WOZ Die Wochezeitung</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.woz.ch/2148/bruno-latour/gegen-die-sitzordnung-von-1789" target="_blank" rel="noopener" data-link-target="blank">Gegen die Sitzordnung von 1789</a></td>
<td style="width: 138.375px; text-align: left;">Der französische Philosoph Bruno Latour plädiert in einem neuen Essay für eine Art planetare Care-Arbeit. Im Kern greift er damit die Idee des Fortschritts an – die kapitalistische wie die linke.</td>
</tr>
<tr>
<td style="width: 68.3056px; text-align: left;">27.10.2021</td>
<td style="width: 89.2639px; text-align: left;">La Regione</td>
<td style="width: 122.708px; text-align: left;"><a class="external" href="https://www.laregione.ch/culture/pensiero/1544093/machiavelli-inferno-dante-liceo-medici" target="_blank" rel="noopener" data-link-target="blank">Il tutt’altro che machiavellico Machiavelli</a></td>
<td style="width: 138.375px; text-align: left;">Marcello Simonetta, ospite giovedì del Liceo di Bellinzona, ci racconta dell’inferno nel quale il pensatore fiorentino sarebbe stato gradito ospite</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"> </p>

<script>

$('#phil > tbody  > tr').each(function() {
  //console.log(this);
  var title = $(this.children[2].innerHTML).text();
  var name_of_paper = this.children[1].innerText;
  var abstract = this.children[3].innerText;
  var hyperlink = $(this.children[2].innerHTML).attr("href");
  var date = this.children[0].innerText;

  $.ajax({
  method: "POST",
  url: "/philosophy_reviews",
  data: {
    philosophy_review: {
    title: title,
    name_of_paper: name_of_paper,
    hyperlink: hyperlink,
    abstract: abstract,
    date: date
    }
  }
})
  .done(function( msg ) {
    console.log( "done" );
  }); //end ajax
});

</script>
