<div class="container">
<h1>Philosophy Reviews</h1>
<%= link_to 'New Philosophy Review', new_philosophy_review_path %>
<hr>

<%= render "philosophy_reviews/table", philosophy_reviews: @philosophy_reviews %>

<br>


</div>
