<div class="veganuary_items">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% veganuary_items.each do |veganuary_item| %>
    <div class="col">
      <%= render "veganuary_items/card", veganuary_item: veganuary_item %>
    </div>
    <% end %>
  </div>
</div>
