<div id="<%= dom_id veganuary_item %>" class="container my-4 blogger-sans">

  <% unless veganuary_item.published == "true" %>
    <%= render 'form', veganuary_item: veganuary_item %>

    <hr />
  <% end %>

  <h2>Vorschau</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">

  <%= render "veganuary_items/card", veganuary_item: veganuary_item %>
  </div>


</div>
