<div class="veganuary_items">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% veganuary_items.each do |veganuary_item| %>
    <div class="col">
      <%= render "veganuary_items/card", veganuary_item: veganuary_item %>
    </div>
    <% end %>
  </div>
</div>

<p>
Map
</p>
<iframe
width="100%"
height="250"
style="border:0"
loading="lazy"
allowfullscreen
referrerpolicy="no-referrer-when-downgrade"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyADpUPkgW9zvI1NstN5U1hfBICUKg9dne0
  &q=<%= CGI.escape line %>">
</iframe>
