<main role="main" class="">
  <div class="fluid-container chat-bg mb-3">

    <div style="overflow-x: hidden;">
      <div class="chat-top">

      </div>
    </div>

    <div class="text-center">
      <%#= image_tag @account.portrait_name, class: "bg-white rounded-circle border-white chat-top-image mt-n6", height: "125" %>
      <%= image_tag "portrait_frau.png", class: "bg-white rounded-circle border-white chat-top-image mt-n6", height: "125" %>
    </div>

    <div class="container">

      <div id="chat-field">
        <div class="chat-argument-field chat-section-field text-center animate__animated animate__bounceIn">
            <h1>Hallo!</h1>
            <p>
              Ich möchte dir ein Video zeigen <br /> und dir eine Frage stellen.
            </p>
            <br />
            <p class="bigger">
                Ist das okay?
            </p>
        </div>

        <%= link_to chat_select_option_path(ChatMessage.first.id), remote: true, class: "no-underline" do %>
          <div class="chat-option-field chat-section-field animate__animated animate__bounceIn animate__delay-1s text-center">
              <p class="bigger">
                Ja, zeig mir das Video
              </p>
          </div>
        <% end %>

          <%= render 'chat_messages/computer_chat_message', chat_message: ChatMessage.last %>
          <%= render 'chat_messages/user_chat_message', chat_message: ChatMessage.last %>

      </div>


      <%#= link_to option.content, debate_a_vegan_load_slide_path(option), remote: true, method: :post, class: "debate-button" %>

      <div class="float-end mb-5 menu-button">
        <button type="button" class="btn btn-light scale-1-30" style="border-radius:100%;" data-toggle="modal" data-target="#statusModal">
          <div class="m-2">
            <i class="fas fa-bars fa-lg"></i>
          </div>
        </button>
      </div>
    </div>

  </div>
</main>



<%#= render 'vegan_chat/menu' %>
