<main role="main" class="">
  <div class="fluid-container chat-bg mb-3">

    <div style="overflow-x: hidden;">
      <div class="chat-top">

      </div>
    </div>

    <div class="text-center">
      <%#= image_tag @account.portrait_name, class: "bg-white rounded-circle border-white chat-top-image mt-n6", height: "125" %>
      <%= image_tag "portrait_frau.png", class: "bg-white rounded-circle border-white chat-top-image mt-n6", height: "125" %>
    </div>

    <div class="container">

      <div class="chat-container">

      </div>

      <div id="chat-field">
        <% if false %>
          <div class="chat-argument-field chat-section-field text-center animate__animated animate__bounceIn">
              <h1>Hey!</h1>
              <p>
                Ich will dich zu einer veganen Lebensweise überzeugen.
              </p>
              <p class="bigger">
                  Bist du bereit?
              </p>
          </div>

          <%= link_to get_next_chat_message_path(4), remote: true, class: "no-underline" do %>
            <div class="chat-option-field chat-section-field animate__animated animate__bounceIn animate__delay-1s text-center">
                <p class="bigger">
                  Wenn's sein muss...
                </p>
            </div>
          <% end %>
        <% end %>

          <%#= render 'chat_messages/computer_chat_message', chat_message: ChatMessage.last %>
          <%#= render 'chat_messages/user_chat_message', chat_message: ChatMessage.last %>

      </div>


      <%#= link_to option.content, debate_a_vegan_load_slide_path(option), remote: true, method: :post, class: "debate-button" %>

    </div>



  </div>
</main>
<footer class="footer mt-auto">
  <div class="container">
    <div class="float-end mb-5 menu-button">
      <button type="button" class="btn btn-light scale-1-30" style="border-radius:100%;" data-bs-toggle="modal" data-bs-target="#statusModal">
        <div class="m-2">
          <%= inline_svg_tag "menu-bars.svg", style: "height: 30px;" %>
        </div>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="statusModalLabel">Veganer Computer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schliessen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<%#= render 'vegan_chat/menu' %>

<script>
  $( document ).ready(function() {
      var chat = new Chat.Chat("chat-container");
      chat.start();
    });
</script>
