<div class="container">
		<h1>Visual</h1>

		<div class="tree-container">

		</div>
</div>

<script type="text/javascript">
	start();
	//functions
	function start(){
		//getData();
		drawTree(".tree-container");
	}

	function drawTree(container){
		return new Promise((resolve, reject) => {
		var width = $(container).width();
		var height = 500;
		var margin = {
			left: 10,
			right: 10,
			top: 10,
			bottom: 10,
		}
		// append the svg object to the body of the page
		 const svg = d3.select(container)
			 .append("svg")
			 .attr("width", width + margin.left + margin.right)
			 .attr("height", height + margin.top + margin.bottom)
			 .append("g")
			 .attr("transform", `translate(${width/2}, ${margin.top})`);

		 //append circle
		 svg.append('circle')
		  .attr('cx', 1)
		  .attr('cy', 1)
		  .attr('r', 25)
		  .attr('stroke', 'black')
		  .attr('fill', '#69a3b2');
			resolve();
		}) // end of Promise
	} // end drawTree

  function getData(){
		return new Promise((resolve, reject) => {

		$.ajax({
			//url: "< %= pferdefutter_data_donation_project_path(@donation_project) %>",
			method: 'GET'
		}).done(function( data ) {
			resolve(data);
		});

	})
} // end  getData
</script>
