.chat-field {

}

.axiforma {
  //font-family: "Axiforma Medium", Verdana, Geneva, sans-serif;
  font-family: 'Montserrat', sans-serif;
}


.no-underline {
  text-decoration: none !important;
}

.debate_left_to_right {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#grad {
  background-color: green;
}

.blacky {
  background-color: black;
}

.grad-white-black {
  background-color: green;
}

.chat-top {
  height: 125px;
  position: relative;
  background: white;
  //height: 250px;
  //background: transparent linear-gradient(90deg, #22AFA2 0%, #1BA9A7 100%) 0% 0% no-repeat padding-box;
  //border-bottom-right-radius: 120% 100%;
  //border-bottom-left-radius: 120% 100%;
  //box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(1.5);
  //overflow-y: hidden;
  z-index: -1;
}

.chat-top-image {
  //transform: scaleX(0.5);
  border-style: solid;
  border-width: 5px;
  box-shadow: 0px 3px 25px #00000029;
  padding: 1px;
}

.white-border-for-rounded-circle {
  //transform: scaleX(0.5);
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 3px 25px #00000029;
}

.chat-bg {
  width: 100%;
  height: 100%;

  //background: transparent linear-gradient(90deg, #22AFA2 0%, #1BA9A7 100%) 0% 0% no-repeat padding-box;
}

.chat-bg-color {
  background: linear-gradient(180deg, #42D3B9 0%, #46BFC7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  //background-repeat: no-repeat;
  //background: green;
}

.darker-chat-bg-color {
  background: linear-gradient(180deg, #46BFC7 0%, #33C1A7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  //background-repeat: no-repeat;
  //background: green;
}

.chat-argument-field {
    @extend .rounded !optional;
    //@extend .p-1 !optional;
    //@extend .p-2 !optional;
    //@extend .pt-3 !optional;
    @extend .px-3 !optional;
    @extend .py-3 !optional;
    //@extend .mx-auto !optional;
  //  @extend .mx-4 !optional;
    background: #354E44;

    h1 {
      @extend .text-center !optional;
      color: #33C1A7;
      font-size: 28px;
      @extend .font-weight-bolder !optional;
    }

    p {
      @extend .font-weight-bold !optional;
      //text-align: center;
      font-size: 16px;
      //font: SemiBold 15px/20px Axiforma;
      letter-spacing: 0px;
      color: #FFFFFF;
      @extend .mb-0 !optional;
    }

    .bigger {
      font-size: 22px;
    }
}

.chat-option-field {
  @extend .rounded !optional;
  //@extend .p-1 !optional;
  //@extend .p-2 !optional;
  //@extend .pt-3 !optional;
  //@extend .px-3 !optional;
  //@extend .py-3 !optional;
//  @extend .mx-4 !optional;
  @extend .px-3 !optional;
  @extend .py-3 !optional;

  background: white;

  &:hover {
    background-color: darken(white, 10%);
    text-decoration: none !important;
  }

  p {
    @extend .font-weight-bold !optional;
    //text-align: center;
    font-size: 16px;
    //font: SemiBold 15px/20px Axiforma;
    color: #354E44;
    @extend .mb-0 !optional;
  }

  .bigger {
    font-size: 22px;
  }
}

.menu-button {
  @extend .rounded !optional;
  @extend .pt-3 !optional;
  @extend .pb-1 !optional;
  @extend .mx-4 !optional;

}

.chat-video-field {
  @extend .rounded !optional;
  @extend .pt-3 !optional;
  @extend .pb-1 !optional;
  @extend .mx-4 !optional;
}

.chat-section-field {
  @extend .pt-3 !optional;
  @extend .pb-1 !optional;
  @extend .mx-4 !optional;
  @extend .my-4 !optional;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
