html {
  //font-size: 14px;
}

body {
  //background-color: $base-color;
	//font-family: Nunito;
  //font-family: "Axiforma Medium", Verdana, sans-serif;
    //font-family: 'Montserrat', sans-serif;
  //font-family: Verdana, sans-serif;
  //font-family: Calibri;
}
.page-cover-bg{
  background-position: center;
  background-repeat: no-repeat;
}

$white: #ffffff;
$black: #000000;

$main-colors: (
  a-color: #554732,
  b-color: #f2ede8,
  c-color: #ec7d22,
  d-color: #9a76a3,
  e-color: #9a7e59,
  //f-color: #5fa778,
  f-color: #4f8d64,
  g-color: #B4C760,
  h-color: #27945E,
);


@mixin background-color-modifiers {
  @each $name, $hex in $main-colors {

    &-#{$name} {
      background-color: $hex !important;
      //color: white;
      @extend .p-2 !optional;
      //@extend .my-2 !optional;
    }

    //&-#{$name}:hover {
    //  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    //  background-color: lighten($hex, 5%) !important;
    //}

    // &-#{$name}:hover {
    //  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    //  transform: translate3d(0, 0, 0);
    //  backface-visibility: hidden;
    //  perspective: 1000px;
    // }
  }
}

@mixin text-color-modifiers {
  @each $name, $hex in $main-colors {

    &-#{$name} {
      color: $hex !important;
      //@extend .my-2 !optional;
    }
  }
}

@mixin btn-color-modifiers {
  @each $name, $hex in $main-colors {

    &-#{$name} {

      color: $white;
      //color: #ffffff;
      background-color: $hex !important;
      font-size: 1.2rem;
      font-weight: bold;
      //@extend .my-2 !optional;
      &:hover{
        color: #ffffff;
        filter: brightness(1.1);
        transform: scale(1.09);
      }
    }

    .badge {
      color: $hex;
      background-color: #ffffff;
    }
  }
}

@for $i from 1 through 50 {
  .thick-borders-#{$i}{
    border-width: #{$i}px !important;
  }

  .scale-1-#{$i}:hover {
    transform: scale(1 + ($i / 100)); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    //background-color: green !important;
  }

}

.text-responsive {
  font-size: 0.75em;
}

.text-0-75em {
  font-size: 0.75em;
}

.mt-n6 {
  margin-top: -4.3rem !important;
}

.mt-n7 {
  margin-top: -6rem !important;
}

.bg {
  @include background-color-modifiers;
}

.text {
  @include text-color-modifiers;
}

.btn {
  @include btn-color-modifiers;
}

.top-section-bg {
  height: 450px;
  background-color: #c6c6c6;
}

.article {

  h1 {
    @extend .text-h-color !optional;
    text-transform: uppercase;
  }
}

.card:hover {
  @extend .shadow-lg !optional;
}

.navbar-brand:hover {
  filter: brightness(0.5);
  transform: scale(1.05);
}

.nav-link {
  //@extend .text-h-color !optional;

  &:hover {
    filter: brightness(0.5);
    transform: scale(1.09);
    //font-size: 1.5rem;
  }
}

.button-svg {
  stroke: white;
  stroke-width: 2;
}

// functions

@function invert($color, $amount: 100%) {

}

@function invertx($color) {
  //$inverse: change-color($color, $hue: hue($color) + 180);

  @return invert($color);
}
