<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand text-h-color" do %>
          <%= application_name %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav">
          <% Page.all.order(:order).each do |page| %>
            <li class="nav-item">
              <%= link_to page.title, page, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Go Vegan", chat_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
