<section class="top-section-bg">
    <div class="text-center">
        <%= image_tag("philosophische-insel-logo-cut.webp", class: "img-fluid mt-4", alt: "Logo von Philosophische Insel. Weisser Kreis um Text auf grauem Hintergrund.") %>
    </div>
</section>
